/* Various CSS variables */
:root {
    /* Color scheme: http://paletton.com/#uid=23u0u0kfBZg1j+Z9w+mkGXdppSu */
        --base-color: #87CFFA;
        --light: #B6E3FD;
        --lighter: #F5FBFF;
        --dark: #3AA6E6;
        --darker: #067CC3;
        --darkest: #43677d;
    }
    
    /* Assign uniform font scheme to all elements */
    * {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    /* A light color background for the whole body of the site */
    body {
        background-color: var(--lighter);
    }
    
    /* Styles for the header of the website */
    header {
        background-color: var(--light);
        border: 10px solid var(--darkest);
        border-radius: 30px 0px 30px 0px;
        padding: 10px;
        color: var(--darkest);
        display: flex;
        justify-content: space-between;
    }
    
    nav {
        background-color: var(--dark);
        padding: 5px;
        border-bottom-right-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    nav ul {
        list-style-type: none;
        padding: 0px;
    }
    
    nav ul li.nav-item {
        background-color: var(--dark);
        display: inline-block;
        margin: 0 15px 0 15px;
    }
    
    .header-image {
        background-image: url("./assets/pexels-instawalli-169789.jpg");
        height: 250px;
        width: 100%;
        margin-top: 10px;
        background-size: cover;
        background-position: center;
    }

    /* Hyperlink styles for navbar
     * The active nav section needs to be darker ("highlighted")
     */
    a.nav-link {
        color: var(--lighter);
        text-decoration: none;
    }
    
    .active {
        background-color: var(--darker);
        text-decoration: none;
    }
    
    /* Hyperlink styles
     * For the sake of minimalism, it's not clear that they ARE hyperlinks
     * It's meant to be clear by context
     */
    a:link, a:visited {
        color: var(--lighter);
        text-decoration: none;
    }
    
    /* Hyperlink styles for external links
     * Add back the underline for these links, in cases where it MUST be
     * clear that it's a hyperlink.
     */
    a.external-link:link, a.external-link:visited {
        text-decoration: underline;
    }
    
    /* Styles for the <main> body of the website */
    main {
        background-color: var(--light);
        border: 10px solid var(--darkest);
        border-radius: 0px 30px 0px 30px;
        padding: 10px;
        margin-top: 10px;
        color: var(--darkest);
        display: flex;
        flex-direction: row;
        /*justify-content: space-between;*/
    }
    
    /* Style for each major group, about/projects/contact
     * All info for those subjects are within an <article>
     */
    article {
        display: flex;
        flex-direction: row;
        /*justify-content: space-between;*/
        margin-bottom: 30px;
    }
    
    /* Text for identifying each <article>
     * Appears as large text to the left of the actual contents
     */
    .section-header {
        width: 33%;
        text-align: right;
        vertical-align: top;
        border-right: 5px solid var(--darkest);
        padding-right: 10px;
    }
    
    .section-header h2 {
        color: var(--darkest);
        margin: 0;
        font-size: 200%;
    }
    
    /* The actual contents for each <article> go here */
    .section-contents {
        width: 67%;
        padding: 10px;
        margin-left: 10px;
        background-color: var(--dark);
        color: var(--lighter);
    }
    
    /* Styles the grid of project images, as a flex grid */
    .project-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    /* .card class
     * This is a container for the project image and all related text
     */
    .card {
        border: 5px solid var(--light);
        margin: 5px;
        background-color: var(--darkest);
    }
    
    .card img {
        width: 100%;
    }
    
    .card-text {
        padding: 5px;
        color: var(--lighter);
    }
    
    .card-text h3 {
        font-size: 150%;
        margin: 0.1em 0 0.2em 0;
    }
    
    .card-text p {
        margin-bottom: 5px;
    }

    /* We want THESE links to be obvious */
    .card-text a {
        text-decoration: underline;
    }
    
    /* This style makes the first card larger than the rest */
    .starter-card {
        grid-column-start: span 3;
    }
    
    /* Styles for the footer of the website */
    footer {
        background-color: var(--light);
        border: 10px solid var(--darkest);
        border-radius: 30px 0px 30px 0px;
        padding: 10px;
        margin-top: 10px;
        color: var(--darkest);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
    }
    
    ul.footer-list {
        list-style-type: none;
        padding: 0px;
    }
    
    ul.footer-list li {
        display: inline-block;
        margin: 0 15px 0 15px;
    }

    /* CONTACT FORM SECTION */
    form {
        display: flex;
        flex-direction: column;
    }

    input, textarea {
        margin: 5px;
        width: 50%;
    }
    
    button {
        margin: 5px;
        padding: 5px;
        width: 50%;
        background-color: var(--darkest);
        color: var(--lighter);
        border: 3px solid var(--lighter);
    }
    
    /* RESPONSIVE DESIGN SECTION
     * Resize/position elements on smaller screens
     */
    @media screen and (max-width: 768px) {
        .project-grid {
            grid-template-columns: repeat(2, 1fr);
        }
        .starter-card {
            grid-column-start: span 2;
        }
    }
    
    /* REALLY small screens */
    @media screen and (max-width: 611px) {
        .project-grid {
            grid-template-columns: repeat(1, 1fr);
        }
        .starter-card {
            grid-column-start: span 1;
        }
        header, nav ul {
            flex-direction: column;
        }
        nav ul {
            display: flex;
        }
        .nav-item {
            text-align: center;
            padding: 10px;
        }
        main {
            flex-direction: column;
        }
        .section-header {
            border-bottom: 5px solid var(--darkest);
            padding-bottom: 10px;
            width: 90%;
            text-align: left;
            vertical-align: top;
            border-right: none;
            padding-right: 0px;
        }
        .section-contents {
            width: 90%;
            margin-left: 0px;
            margin-top: 10px;
        }
        input, textarea, button {
            width: 100%;
        }
    }